<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ailab.ailabsystem.mapper.ProjectMapper">

    <resultMap id="BaseResultMap" type="com.ailab.ailabsystem.model.entity.Project">
        <id property="projectId" column="project_id" jdbcType="INTEGER"/>
        <result property="projectName" column="project_name" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="TINYINT"/>
        <result property="year" column="year" jdbcType="VARCHAR"/>
        <result property="teacher" column="teacher" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        project_id
        ,project_name,level,
        year,teacher,status
    </sql>
    <select id="getUserProject" resultType="com.ailab.ailabsystem.model.entity.Project">
        select *
        from project
        where project_id
        IN (select project_id FROM project_member WHERE user_id = #{userId})
        order by year desc
    </select>
</mapper>
